<h5>Novo jogo:</h5>
<div class="numeros">
  <div class="numeros">
    <input min="1"
      max="60"
      type="number"
      *ngFor="let numero of novoJogo; index as i; trackBy trackByIndex"
      [(ngModel)]="novoJogo[i]"
      [class.invalido]="!numeroValido(novoJogo[i])">
  </div>
</div>

<!-- Esse botão fica desabilitado se algum
  número estiver "inválido" -->
<button class="waves-effect waves-light btn blue"
  (click)="incluirJogo()"
  [disabled]="temNumeroInvalido()">
  Incluir novo jogo
</button>
{{' '}}
<button class="waves-effect waves-light btn blue"
  (click)="gerarJogo()">
  Gerar novo jogo
</button>
