<!-- Componente de sorteio -->
<app-sorteio
  (quandoSortear)="definirSorteio($event)"
  [numerosSorteados]="numerosSorteados"
>
</app-sorteio>
<hr>

<!-- Componente de jogos -->
<app-meus-jogos
  (enviarJogos)="cadastrarJogos($event)"
  [meusJogos]="meusJogos"
  [numerosSorteados]="numerosSorteados"
></app-meus-jogos>
<hr>

<!-- Componente de criação de novo jogo -->
<app-novo-jogo (enviarNovoJogo)="novoJogo($event)"></app-novo-jogo>
