<div>
  <!-- Formatamos os números sorteados
    com zeros à esquerda através do
    pipe leftPad (criado neste projeto) -->
  <h5>
    Sorteio:
    <span *ngFor="let numero of numerosSorteados">{{ ( numero | leftPad: 2) + ' ' }}</span>
  </h5>
  <button
    class="waves-effect waves-light btn green"
    (click)="sortear()"
    [disabled]="sorteando"
  >
    Iniciar sorteio
  </button>
</div>
