<h5>Meus jogos:</h5>
<ul>
  <li *ngFor="let jogo of meusJogos">
    <span *ngFor="let numero of jogo">
      <!-- Aqui entra a reatividade de verificação
        do número sorteado que, se verdadeira, é
        incluída a classe 'sorteado' -->
      <span [class]="foiSorteado(numero) && 'sorteado'">{{ (numero | leftPad: 2) }}</span>
      {{' '}}
    </span>
  </li>
</ul>

<button
  class="waves-effect waves-light btn blue"
  (click)="novosJogos()"
>
  Gerar novamente
</button>
